@use '../../variables' as *;

.input {
  width: 100%;
  margin-top: 28px;

  label {
    font-size: 20px;
    font-weight: 500;
  }

  input {
    width: 100%;
    box-sizing: border-box; 
    font-size: 16px;
    padding: 16px 20px;
    background-color: $cor-input-cinza;
    margin-top: 10px;
    border: none;
    border-radius: 15px;
    transition: all 0.2s ease;
    border: 3px solid transparent;

    &:focus {
      background-color: $cor-input-foco;
      border: 3px solid $cor-input-borda;
      outline: none;
    }

    &:hover{
      cursor: pointer;
      background-color: $cor-input-hover;
    }
  }

  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

}