@use '../../variables' as *;

.header {

  section {
    height: 200px;
    background-color: $cor-azul-principal;
    width: auto;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: end;
  }

  img {
    position: absolute;
    top: 40px;
  }

}