@use '../../variables' as *;

.title {
  color: $cor-texto-titulo;
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 12px;
  border-bottom: 2px $cor-borda-titulo solid;
}

.principal{
  border: none;
}